# -----------------------------
# Build & IDE
# -----------------------------
/build/
.gradle/
local.properties
*.iml
.idea/
*.hprof
captures/
debug/
release/

# -----------------------------
# APKs
# -----------------------------
*.apk
*.aab
outputs/
app/release/
app/debug/
build/

# -----------------------------
# Keystore & Secrets
# -----------------------------
vdrmanager-release.jks
keystore.jks
signing.properties
secret.properties

# -----------------------------
# Logs
# -----------------------------
*.log
logcat.log
*_bak
# -----------------------------
# System
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*~
